<nav>
  <div class="nav-outer">
    <div class="burger-menu">
      <span id="burger-menu" class="material-symbols-outlined"> menu </span>
    </div>
    <div class="logo"><a href="/admin">OtakuVerse</a></div>
    <a href="/admin/logout"><button class="logout-button">Logout</button></a>
  </div>
  <div id="menu" class="menu">
    <div class="burger-menu">
      <span id="burger-menu2" class="material-symbols-outlined"> menu </span>
    </div>
    <div class="logo"><a href="/admin">OtakuVerse</a></div>
    <div class="menu-links">
      <div class="menu-link-item">
        <a href="/admin/category-management">CATEGORY MANAGEMENT</a>
      </div>
      <hr />
      <div class="menu-link-item">
        <a href="/admin/customer-management?offset=1">CUSTOMER MANAGEMENT</a>
      </div>
      <hr />
      <div class="menu-link-item">
        <a href="/admin/order-management">ORDER MANAGEMENT</a>
      </div>
      <hr />
      <div class="menu-link-item">
        <a href="/admin/product-management?offset=1">PRODUCT MANAGEMENT</a>
      </div>
      <hr />
    </div>
  </div>
</nav>
