<div class="sidebar sidebar-visible" id="sidebar-specific">
  <div class="sidebar-section-1">
    <div class="section-title">General</div>
    <ul>
      <li>
        <a href="/admin/home">HOME</a>
      </li>
      <li>
        <a href="/admin/category-management">CATEGORY MANAGEMENT</a>
      </li>
      <li>
        <a href="/admin/coupon-management?offset=1">COUPON MANAGEMENT</a>
      </li>
      <li>
        <a href="/admin/customer-management?offset=1">CUSTOMER MANAGEMENT</a>
      </li>
      <li>
        <a href="/admin/order-management">ORDER MANAGEMENT</a>
      </li>
      <li>
        <a href="/admin/product-management?offset=1">PRODUCT MANAGEMENT</a>
      </li>
      <li>
        <a href="/admin/return-requests?offset=1">RETURN REQUESTS</a>
      </li>
      
      <li>
        <a href="/admin/wallet-management?offset=1">WALLET MANAGEMENT</a>
      </li>
      
    </ul>
  </div>
  <!-- <div class="sidebar-section-2">
    <div class="section-title">Categories</div>
    <ul>
    </ul>
  </div> -->
</div>