<div class="alert alert-show">
  <div class="alert-inner-box">
    <span class="material-symbols-outlined alert-icon">
    </span>
    <div class="alert-message">Address deleted successfully.</div>
  </div>
  <span id="alert-close-button" class="alert-close-button material-symbols-outlined ">
    close
  </span>
</div>