<footer>
  <div class="footer-top">
    <div class="footer-top-left">
      <div class="footer-title">OtakuVerse</div>
      <div class="footer-subtitle">POPULAR SEARCHES</div>
      <div class="footer-links">
        <div class="item"><a href="">TSHIRTS</a></div>
        <div class="item"><a href="">HOODIES</a></div>
        <div class="item"><a href="">SHOES</a></div>
        <div class="item"><a href="">FIGURINES</a></div>
        <div class="item"><a href="">BARCELETS</a></div>
        <div class="item"><a href="">RINGS</a></div>
        <div class="item"><a href="">NARUTO</a></div>
        <div class="item"><a href="">DEMON SLAYER</a></div>
        <div class="item"><a href="">ONE PIECE</a></div>
        <div class="item"><a href="">FRIEREN</a></div>
        <div class="item"><a href="">JACKETS</a></div>
        <div class="item"><a href="">BADGES</a></div>
        <div class="item"><a href="">TSHIRTS</a></div>
        <div class="item"><a href="">TSHIRTS</a></div>
        <div class="item"><a href="">TSHIRTS</a></div>
        <div class="item"><a href="">TSHIRTS</a></div>
        <div class="item"><a href="">TSHIRTS</a></div>
        <div class="item"><a href="">TSHIRTS</a></div>
      </div>
    </div>
    <div class="footer-top-right">
      <div class="contact-form-outer">
        <div class="form-title">CONTACT US</div>
        <form id="contact-form">
          <div class="input-container">
            <label for="name">Name:</label> <input id="name" type="text" />
          </div>
          <div class="input-container">
            <label for="email">Email:</label> <input id="email" type="text" />
          </div>
          <div class="input-container">
            <label for="subject">Subject:</label>
            <input id="subject" type="text" />
          </div>
          <div class="input-container">
            <label for="message">Message:</label>
            <textarea id="message"></textarea>
          </div>
          <input type="submit" class="send-button" value="Send message" />
        </form>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="copyright-text">© 2024 otakuverse.in</div>
    <div class="social-media-icons">
      <img src="/icons/Social-Icon-Facebook-2x.png" alt="facebook-icon" />
      <img src="/icons/Social-Icon-Instagram-2x.png" alt="instagram-icon" />
      <img src="/icons/Social-Icon-TikTok-2x.png" alt="tiktok-icon" />
      <img src="/icons/Social-Icon-X-2x.png" alt="x-icon" />
      <img src="/icons/Social-Icon-YouTube-2x.png" alt="youtube-icon" />
    </div>
  </div>
</footer>
