<div class="sidebar sidebar-visible" id="sidebar-specific">
  <div class="sidebar-section-1">
    <div class="section-title">General</div>
    <ul>
      <li>
        <a href="/">
          <span class="material-symbols-outlined">house</span>
          Home
        </a>
      </li>
      <li>
        <a href="/shop">
          <span class="material-symbols-outlined">store</span>
          Store
        </a>
      </li>
      <li>
        <a href="/profile">
          <span class="material-symbols-outlined">account_circle</span>
          Profile
        </a>
      </li>
      <li>
        <a href="/cart">
          <span class="material-symbols-outlined">shopping_cart</span>
          Cart
        </a>
      </li>
      <li>
        <a href="/orders">
          <span class="material-symbols-outlined">orders</span>
          Orders
        </a>
      </li>
      <li>
        <a href="/wishlist">
          <span class="material-symbols-outlined">favorite</span>
          Wishlist
        </a>
      </li>
      <li>
        <a href="/wallet">
          <span class="material-symbols-outlined">
            account_balance_wallet
            </span>
            Wallet
        </a>
      </li>
    
    </ul>
  </div>
  <div class="sidebar-section-2">
  </div>
</div>