<nav>
  <div class="nav-outer">
    <div class="nav-left">
      <div class="burger-menu">
        <span id="burger-menu" class="material-symbols-outlined"> menu </span>
      </div>
      <div class="logo"><a href="/">OtakuVerse</a></div>
    </div>

    <%if(!locals.isLoggedOut){%>
    <div class="nav-right">
      <div class="nav-icon">
        <a href="/cart"><span class="material-symbols-outlined"> shopping_cart </span>Cart</a>
      </div>
      <div class="nav-icon">
        <a href="/wishlist"><span class="material-symbols-outlined"> shopping_cart </span>Wishlist</a>
      </div>
      <div class="nav-icon">
        <a href="/orders"><span class="material-symbols-outlined"> shopping_cart </span>Orders</a>
      </div>
      <div id="user-dp" class="user-dp">
        <img src="/img/user-dp.png" alt="user-dp" />
      </div>
    </div>
    <%} else{%>
    <div class="nav-right">
      <div class="navbar-button-group">
        <a href="/login"
          ><button class="navbar-button login-button">Login</button></a
        >
        <a href="/signup"
          ><button class="navbar-button signup-button">Signup</button></a
        >
      </div>
    </div>
    <%}%>
  </div>
  <div id="menu" class="menu">
    <div class="burger-menu">
      <span id="burger-menu2" class="material-symbols-outlined"> menu </span>
    </div>
    <div class="logo"><a href="/">OtakuVerse</a></div>
    <div class="menu-links">
      <div class="menu-link-item">
        <a href="">TSHIRTS</a>
      </div>
      <hr />
      <div class="menu-link-item">
        <a href="">HOODIES</a>
      </div>
      <hr />
      <div class="menu-link-item">
        <a href="">ACCESSORIES</a>
      </div>
      <hr />
      <div class="menu-link-item">
        <a href="">SHOES</a>
      </div>
      <hr />
      <div class="menu-link-item">
        <a href="">HOME & DECOR</a>
      </div>
      <hr />
    </div>
  </div>
  <div class="user-menu" id="user-menu">
    <div class="user-menu-item"><a href="/profile">Profile</a></div>
    <div class="user-menu-item"><a href="/logout">Logout</a></div>
  </div>
</nav>
