<%- include('../../partials/admin-template.ejs') %>
    <title>Admin Home</title>
    <link rel="stylesheet" href="/admin/home/admin-home.css" />
  </head>
  <body>
    <%-include("../../partials/alert.ejs")%>
    <%- include('../../partials/admin-navbar.ejs') %>
    <!-- <div class="overall-sales-container">
      Overall Sales: 
      <div class="overall-sales"></div>
    </div>
    <div class="overall-amount-container">
      Overall Amount:
      <div class="overall-amount"></div>
    </div>
    <div class="overall-discount-container">
      Overall Discount: 
      <div class="overall-discount"></div>
    </div> -->
    <script src="/js/admin-home.js"></script>
  </body>
</html>
