body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

.banner-outer {
  display: flex;
  background-color: #0f2d50;
  height: 350px;
  padding: 0 100px;
}

.banner-text {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 2%;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.banner-text-line1 {
  font-family: "Bungee Shade", sans-serif;
  font-size: 60px;
  color: #ff5555;
  width: 100%;
}

.banner-text-line2 {
  font-family: "Micro 5", sans-serif;
  color: #66d351;
  font-size: 80px;
  width: 100%;
}

.banner-text-line3 {
  font-family: "Pixelify sans", sans-serif;
  color: white;
  font-size: 20px;
  width: 100%;
}

.banner-images-outer {
  width: 60%;
  display: flex;
  align-items: center;
  padding-right: 20px;
  box-sizing: border-box;
}

.banner-images-inner {
  background-color: black;
  height: 300px;
  border-radius: 10px;
  width: 100%;
}

.category-title {
  font-size: 26px;
  font-weight: 600;
}

.category-wise {
  /* padding: 0px 80px; */
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
}

.title-row {
  display: flex;
  justify-content: space-between;
}

.original-price {
  text-decoration: line-through;
  color: rgb(88, 88, 88);
  font-size: 14px;
}

.product-cards {
  display: grid;
  /* justify-content: space-between; */
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.product-cards a {
  text-decoration: none;
  color: black;
}

.product-card {
  width: 258px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  box-sizing: border-box;
}

.product-card:hover {
  transform: scale(1.015);
  box-shadow: 0 0 4px 0px rgb(129, 129, 129);
}

.product-image {
  background-color: rgb(162, 162, 162);
  height: 270px;
  width: 238px;
  border-radius: 5px;
}

.product-image img {
  height: 270px;
  width: 238px;
  border-radius: 5px;
}

.product-pricing {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.product-rating {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.product-title {
  text-overflow: ellipsis;
}

.products-section {
  margin-top: 30px;
  margin-bottom: 80px;
  padding: 0 13%;
}

.review-count {
  color: #a7a7a7;
}

.see-more a {
  color: #5a9af4;
}

.title-row {
  padding: 30px 0;
}
