body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

/* .quicksand {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
} */

/* .main {
  display: flex;
} */

.main-right {
  background-color: white;
  width: 100%;
}

.main-right-inner {
  display: flex;
  flex-direction: column;
  /* gap: 30px; */
  /* padding: 40px 100px 40px 60px; */
  box-sizing: border-box;
}

.banner-section {
  height: calc(100vh - 70px);
  position: relative;
}

.banner-content {
  z-index: 10;
  position: absolute;
  top: 0;
  height: calc(100vh - 70px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-heading {
  font-size: 120px;
  margin: 0;
  color: white;
  background-image: linear-gradient(black, black);
  /* color: white; */
  -webkit-text-stroke-width: 15px;
  -webkit-text-stroke-color: transparent;
  background-clip: text;
  font-family: "Micro 5", sans-serif;
}

.banner-subheading {
  font-size: 24px;
  max-width: 60%;
  text-align: center;
  color: whitesmoke;
}

.banner-button-group {
  display: flex;
  gap: 20px;
}

.banner-button-group button {
  padding: 20px 40px;
  font-size: 24px;
  font-weight: 600;
  box-shadow: 5px 5px;
  cursor: pointer;
}

.banner-button-group button:hover {
  box-shadow: 8px 8px;
}

.banner-button-group button:active {
  box-shadow: 5px 5px;
}

.banner-button-group .visit-button {
  border: 4px solid whitesmoke;
  background-color: rgb(123, 201, 232);
  color: whitesmoke;
}

.banner-button-group .visit-button:hover {
  border: 4px solid rgb(123, 201, 232);
  background-color: whitesmoke;
  color: rgb(123, 201, 232);
}

.banner-button-group .explore-button {
  border: 4px solid rgb(123, 201, 232);
  background-color: whitesmoke;
  color: rgb(123, 201, 232);
}

.banner-button-group .explore-button:hover {
  border: 4px solid whitesmoke;
  background-color: rgb(123, 201, 232);
  color: whitesmoke;
}

.banner-images-inner img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.category-title {
  font-size: 26px;
  font-weight: 800;
  text-transform: uppercase;
  width: fit-content;
}

.category-desc {
  width: 100px;
}

.category-wise {
  /* padding: 0px 80px; */
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}

hr {
  border: 0.5px solid rgb(225, 225, 225);
}

.title-row {
  display: flex;
  justify-content: space-between;
}

.original-price {
  text-decoration: line-through;
  color: rgb(88, 88, 88);
  font-size: 14px;
}

.product-cards {
  display: grid;
  /* justify-content: space-between; */
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  width: fit-content;
}

.product-cards a {
  text-decoration: none;
  color: black;
}

.product-card {
  max-width: 300px;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  box-sizing: border-box;
}

.product-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.product-card:hover {
  transform: scale(1.01);
  /* box-shadow: 0 0 4px 0px rgb(129, 129, 129); */
  transition: all 200ms;
}

.product-image {
  background-color: rgb(233, 231, 231);
  height: 280px;
  /* max-width: 280px; */
  border-radius: 2px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.product-image img {
  height: 280px;
  /* width: 238px; */
  /* border-radius: 5px; */
}

.product-pricing {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  gap: 10px;
  font-size: 18px;
}

.product-rating {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.product-title {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  -webkit-line-clamp: 2;
  overflow: hidden;
  /* white-space: nowrap; */
  font-size: 20px;
  font-weight: 600;
}

.total-stock {
  color: #ff5555;
  font-weight: 600;
}

.products-section {
  margin-top: 30px;
  margin-bottom: 80px;
  /* padding: 0 13%; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-count {
  color: #a7a7a7;
}

.see-more a {
  color: #5a9af4;
}

.title-row {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
}

.view-details-button {
  width: 100%;
  border: 1px solid;
  padding: 10px;
  border-radius: 2px;
  background-color: white;
  color: black;
  font-family: "Quicksand", sans-serif;
  cursor: pointer;
}

.view-details-button:hover {
  background-color: rgb(41, 41, 41);
  color: white;
  font-weight: 800;
}

.swiper {
  width: 100%;
  height: 100%;
}
.swiper-button-prev,
.swiper-button-next {
  color: rgba(255, 255, 255, 0.5);
}

.swiper-image {
  max-width: 100%;
  height: auto;
  filter: grayscale(15%);
}

.vignette {
  position: absolute;
  top: 0;
  height: calc(100vh - 70px);
  width: 100%;
  box-shadow: 0 0 200px rgba(0, 0, 0, 0.9) inset;
}
