body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

.error-container {
  height: 20px;
  color: red;
  font-size: 14px;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid black;
  border-radius: 10px;
  /* height: 480px; */
  width: 375px;
  padding: 10% 10%;
  box-sizing: border-box;
}

.form-title {
  text-align: center;
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 20px;
}

.login-redirect {
  text-align: center;
}

.google-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 5px;
  height: 36px;
  gap: 10px;
  text-decoration: none;
  color: black;
}

.google-icon {
  height: 20px;
}

.or {
  height: 20px;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.or-line {
  /* height: 20px; */
  width: 100%;
  border-bottom: 1px grey solid;
}

.or-text {
  margin: 0 7px;
  color: grey;
  font-size: 14px;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.input-container label {
  color: #7e869e;
  font-size: 12px;
}

.input-container input {
  font-size: 14px;
}

.left-line1 {
  background-image: linear-gradient(black, black);
  font-family: "Micro 5", sans-serif;
  font-size: 178px;
  color: white;
  -webkit-text-stroke-width: 20px;
  -webkit-text-stroke-color: transparent;
  background-clip: text;
  padding-left: 20px;
}

.left-line2 {
  font-size: 24px;
  padding-left: 10px;
  padding-right: 140px;
  font-family: "Pixelify sans", sans-serif;
}

.left-outer {
  padding: 0% 5%;
  box-sizing: border-box;
}

.left-section {
  display: flex;
  align-items: center;
  width: 70%;
  background-color: #7ea2cf;
}

.login-button {
  font-size: 16px;
  width: 100%;
  height: 36px;
  border-radius: 5px;
  border: 0;
  background-color: #7ea2cf;
  color: white;
  margin-bottom: 10px;
  margin-top: 10px;
  cursor: pointer;
}

#login-form {
  display: flex;
  flex-direction: column;
  /* gap: 15px; */
}

.login-form-link {
  color: #7ea2cf;
}

.login-input {
  font-size: 18px;
  padding: 10px;
  height: 36px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid black;
}

.main {
  display: flex;
}

.password-instructions {
  font-size: 11px;
  margin-bottom: 10px;
  text-align: justify;
  color: #c5c5c5;
}

.right-section {
  width: 30%;
}

.right-outer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
