<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/customer/login/cust-forgotpassword.css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert@2.1.2/dist/sweetalert.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <%- include('../../partials/font-links.ejs') %>
    <title>OtakuVerse Signup</title>
  </head>
  <body>
    <div class="main">
      <div class="right-section">
        <div class="right-outer">
          <div class="form-container">
            <div class="form-title">OtakuVerse</div>
            <div class="form-subtitle">Enter OTP</div>
            <div class="form-desc">
              Please enter the OTP that has been sent to your email address.
            </div>
            <form id="login-form" method="POST">
              <div class="input-container">
                <input
                  id="otp-input"
                  class="login-input"
                  type="text"
                  placeholder="Enter OTP"
                  name="otp"
                />
              </div>
              <input class="login-button" type="submit" value="SUBMIT" />
            </form>
            <p id="timer-text">Resend OTP in <span id="timer">01:00</span></p>
            <button id="resend-btn" disabled>Resend OTP</button>
          </div>
        </div>
      </div>
    </div>
    <script src="/js/cust-signup-otp.js"></script>
  </body>
</html>
