<%-include("../../partials/cust-template.ejs")%>
    <link rel="stylesheet" href="customer/signup/cust-signup.css" />
    <title>OtakuVerse Signup</title>
  </head>
  <body>
    <%-include("../../partials/alert.ejs")%>
    <%if(locals.message){%> 
      <script>
        alert("<%=message%>","error");
      </script>
    <%}%>
    <div class="main">
      <div class="left-section">
        <div class="left-outer">
          <div class="left-line1">OtakuVerse</div>
          <div class="left-line2">
            Your Ultimate Destination for Authentic Anime Merchandise, Where
            Every Fan Can Bring Their Favourite Worlds and Characters to Life!
          </div>
        </div>
      </div>
      <div class="right-section">
        <div class="right-outer">
          <div class="form-container">
            <div class="form-title">Sign Up</div>
            <a href="/auth/google" class="google-button">
              <img
                src="icons/google.png"
                class="google-icon"
                alt="google-icon"
              />
              <div class="google-button-text">Sign in with Google</div>
            </a>
            <div class="or">
              <div class="or-line"></div>
              <div class="or-text">OR</div>
              <div class="or-line"></div>
            </div>
            <form id="login-form" method="POST" action="/signup">
              <div class="input-container">
                <label for="fullname-input">Full name</label>
                <input
                  id="fullname-input"
                  class="login-input"
                  type="text"
                  name="name"
                />
              </div>
              <div id="fullname-error" class="error-container"></div>
              <div class="input-container">
                <label for="email-input">Email</label>
                <input
                  id="email-input"
                  class="login-input"
                  type="text"
                  name="email"
                />
              </div>
              <div id="email-error" class="error-container"></div>
              <div class="password-instructions">
                (The password should contain at least 8 characters, including
                uppercase and lowercase letters, numbers, and symbols. )
              </div>
              <div class="input-container">
                <label for="password-input">Password</label>
                <input
                  id="password-input"
                  class="login-input"
                  type="password"
                  name="password"
                />
              </div>
              <div id="password-error" class="error-container"></div>
              <div class="input-container">
                <label for="repassword-input">Re-enter Password</label>
                <input
                  id="repassword-input"
                  class="login-input"
                  type="password"
                />
              </div>
              <div id="repassword-error" class="error-container">
              </div>
              <%if(locals.code){%>
              <input type="text" name="code" style="display: none;" value="<%=code%>">
              <%}else{%>
                <input type="text" name="code" style="display: none;" value="">
                <%}%>
              <input class="login-button" type="submit" value="Sign Up" />
            </form>

            <div class="login-redirect">
              Already have an account?
              <a href="/login" class="login-form-link">Log In</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/js/cust-signup.js"></script>
  </body>
</html>
