<%-include("../../partials/admin-template.ejs")%>
    <title>Customer</title>
    <link rel="stylesheet" href="admin/home/view-customer.css" />
  </head>
  <body>
    <%-include("../../partials/alert.ejs")%>
    <%- include('../../partials/admin-navbar.ejs') %>
  </body>
</html>
