<%-include("../../partials/cust-template.ejs")%>
<link href="/customer/order/cust-wishlist.css"  rel="stylesheet"/>
<title>OtakuVerse Cart</title>
</head>
<body>
  <script src="/js/cust-wishlist.js"></script>
</body>
</html>