<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="customer/login/cust-forgotpassword.css" />
    <%- include('../../partials/font-links.ejs') %>
    <title>Forgot password</title>
  </head>
  <body>
    <div class="main">
      <div class="right-section">
        <div class="right-outer">
          <div class="form-container">
            <div class="form-title">OtakuVerse</div>
            <div class="form-subtitle">Forgot your password?</div>
            <div class="form-desc">
              Verify your email address by entering the OTP that will be sent to
              your email.
            </div>
            <form id="login-form">
              <div class="input-container">
                <input
                  id="email-input"
                  class="login-input"
                  type="text"
                  placeholder="Enter email address"
                />
              </div>
              <input class="login-button" type="submit" value="SEND OTP" />
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
