<%-include("../../partials/cust-template.ejs")%>
    <link rel="stylesheet" href="customer/login/cust-resetpassword.css" />
    <title>Reset password</title>
  </head>
  <body>
    <%-include("../../partials/alert.ejs")%>
    <div class="main">
      <div class="right-section">
        <div class="right-outer">
          <div class="form-container">
            <div class="form-title">OtakuVerse</div>
            <div class="form-subtitle">Reset password</div>
            <form id="login-form" method="POST">
              <div class="input-container">
                <input
                  id="password-input"
                  class="login-input"
                  type="password"
                  placeholder="Enter new password"
                />
                <div class="error-container" id="password-error"></div>
              </div>
              <div class="input-container">
                <input
                  id="repassword-input"
                  class="login-input"
                  type="password"
                  placeholder="Re-enter new password"
                />
                <div class="error-container" id="repassword-error"></div>
              </div>
              <input class="login-button" type="submit" value="CONFIRM" />
            </form>
          </div>
        </div>
      </div>
    </div>
    <script src="/js/cust-resetpassword.js"></script>
  </body>
</html>
