<%-include("../../partials/cust-template.ejs")%>
    <link rel="stylesheet" href="customer/login/cust-forgotpassword.css" />
    <title>Forgot password</title>
  </head>
  <body>
    <div class="main">
      <div class="right-section">
        <div class="right-outer">
          <div class="form-container">
            <div class="form-title">OtakuVerse</div>
            <div class="form-subtitle">Forgot your password?</div>
            <div class="form-desc">
              Verify your email address by entering the OTP that will be sent to
              your email.
            </div>
            <form id="login-form" method="POST">
              <div class="input-container">
                <input
                  id="email-input"
                  class="login-input"
                  type="text"
                  placeholder="Enter email address"
                />
                <div class="error-container" id="email-error"></div>
              </div>
              <input class="login-button" type="submit" value="SEND OTP" />
            </form>
          </div>
        </div>
      </div>
    </div>
    <script src="/js/cust-forgotpassword.js"></script>
  </body>
</html>
