<%- include('../../partials/admin-template.ejs') %>
    <link rel="stylesheet" href="admin/login/admin-login.css" />
    <title>OtakuVerse Login</title>
  </head>
  <body>
    <%-include("../../partials/alert.ejs")%>
    <div class="main">
      <div class="left-section">
        <div class="left-outer">
          <div class="left-line1">OtakuVerse</div>
          <div class="left-line2">
            Your Ultimate Destination for Authentic Anime Merchandise, Where
            Every Fan Can Bring Their Favourite Worlds and Characters to Life!
          </div>
        </div>
      </div>
      <div class="right-section">
        <div class="right-outer">
          <div class="form-container">
            <div class="form-title">Log in</div>
            <form id="login-form" method="POST">
              <div class="input-container">
                <label for="email-input">Email</label>
                <input
                  id="email-input"
                  class="login-input"
                  type="text"
                  name="username"
                />
              </div>
              <div id="email-error" class="error-container"></div>
              <div class="input-container">
                <label for="password-input">Password</label>
                <input
                  id="password-input"
                  class="login-input"
                  type="password"
                  name="password"
                />
              </div>
              <div id="password-error" class="error-container">
                <%if(locals.message){%> <%=message%> <%}%>
              </div>
              <input class="login-button" type="submit" value="Log In" />
            </form>
          </div>
        </div>
      </div>
    </div>
    <script src="/js/admin-login.js"></script>
  </body>
</html>
