.add-button {
  height: 40px;
  width: 120px;
  border: 0;
  background-color: rgb(58, 225, 80);
  border-radius: 5px;
  margin-right: 20px;
  cursor: pointer;
}

#add-form {
  display: flex;
  flex-direction: column;
}

.add-form-outer {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.605);
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 6;
}

.add-form-inner {
  background-color: white;
  border-radius: 10px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

.category-button {
  border: 1px solid black;
  height: 80px;
  margin: 0 20px 20px 0;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category-list a {
  text-decoration: none;
  color: black;
}

.category-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-flow: row;
  padding: 4% 25% 2% 6%;
}

.close-button {
  position: fixed;
  top: 20px;
  right: 20px;
  color: white;
  transform: scale(2);
  cursor: pointer;
}

.error-container {
  height: 20px;
  color: red;
  font-size: 14px;
}

.form-title {
  text-align: center;
  font-size: 26px;
  font-weight: 700;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input-container input {
  width: 400px;
  height: 36px;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 5px;
  box-sizing: border-box;
}

.input-container label {
  font-size: 14px;
  color: #7e869e;
}

.input-container textarea {
  width: 400px;
  height: 300px;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 5px;
  box-sizing: border-box;
  resize: none;
}

.submit-button {
  width: 400px;
  height: 36px;
  border-radius: 5px;
  background-color: rgb(58, 225, 80);
  border: 0;
  color: white;
  font-weight: 700;
  cursor: pointer;
  margin-top: 10px;
}

.title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4% 25% 2% 6%;
}

.title {
  font-size: 28px;
  font-weight: 700;
}
