body {
  margin: 0;
  font-family: "Inter", sans-serif;
  /* height: 100vh; */
}

#banner-images {
  border: none;
  height: fit-content;
  padding: 0;
}

.banner-images img,
.remove-banner-images-section img {
  height: 75px;
}

.button-group {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-top: 20px;
}

.cat-details {
  padding: 40px 20% 30px 10%;
}

.confirm-button {
  width: 200px;
  height: 35px;
  border: 0;
  color: white;
  background-color: rgb(0, 169, 0);
  font-size: 15px;
  border-radius: 5px;
}

.confirm-button:disabled {
  background-color: grey;
}

.error-container {
  color: red;
  height: 20px;
  font-size: 14px;
}

#delete-button {
  height: 35px;
  width: 200px;
  background-color: red;
  border-radius: 5px;
  text-align: center;
  line-height: 35px;
  text-decoration: none;
  color: white;
  font-size: 15px;
  border: 0;
  cursor: pointer;
  /* margin-top: 10px; */
}

.title {
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 40px;
}

.image-collection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: row;
  gap: 10px;
  border: 1px solid black;
  padding: 20px;
  border-radius: 5px;
  height: 170px;
  overflow-y: auto;
}

.image-card {
  padding: 10px;
  background-color: #9399ac;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 80px;
}

.image-card .delete-icon {
  color: rgb(227, 34, 34);
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

#edit-cat-form {
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
}

#edit-cat-form label {
  font-size: 14px;
  color: #7e869e;
  min-height: 20px;
}

.input-container input {
  /* width: 300px; */

  height: 40px;
  border-radius: 5px;
  border: 1px solid black;
  box-sizing: border-box;
  padding: 0 10px;
}

#edit-cat-form textarea {
  resize: none;
  /* width: 620px; */
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 5px;
  height: 125px;
  padding: 10px;
  font-family: "Inter", sans-serif;
}

.label-row {
  display: flex;
  justify-content: space-between;
}

.main {
  display: flex;
}

.main-right {
  background-color: white;
  height: calc(100vh - 60px);
  width: 100vw;
  overflow: auto;
}

.remove-banner-images-section {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.row {
  display: flex;
  gap: 20px;
}

.col {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  /* gap: 20px; */
}
