<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OtakuVerse Home</title>
    <%- include('../../partials/font-links.ejs') %>
    <link rel="stylesheet" href="customer/cust-navbar.css" />
    <link rel="stylesheet" href="customer/home/cust-home.css" />
    <link rel="stylesheet" href="customer/cust-footer.css" />
  </head>
  <body>
    <%- include('../../partials/cust-navbar.ejs') %>
    <section>
      <div class="banner-outer">
        <div class="banner-images-outer">
          <div class="banner-images-inner">
            <img src="" alt="banner-images" />
          </div>
        </div>
        <div class="banner-text">
          <div class="banner-text-line1">Welcome</div>
          <div class="banner-text-line2">Otakus</div>
          <div class="banner-text-line3">
            “Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy tex t
            ever since the 1500s.” -Lorem Ipsum
          </div>
        </div>
      </div>
    </section>
    <%- include('../../partials/cust-footer.ejs') %>
    <script src="js/cust-navbar.js"></script>
  </body>
</html>
