nav .burger-menu {
  transform: scale(2);
  cursor: pointer;
  display: flex;
  align-items: center;
}
/* 
nav .nav-icon {
  height: 100%;
} */

nav .nav-icon a {
  transform: scale(1.25);
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 12px;
}

nav .nav-outer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 60px;
  background-color: rgb(123, 201, 232);
  position: relative;
  padding: 0 20px;
  box-sizing: border-box;
}

nav .nav-right,
nav .nav-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

nav .logo {
  font-family: "Micro 5", sans-serif;
  font-size: 40px;
  background-image: linear-gradient(black, black);
  color: white;
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: transparent;
  background-clip: text;
  text-align: center;
  font-weight: 700;
  padding-left: 5px;
}

nav .logo a {
  text-decoration: none;
  color: white;
}

nav .menu {
  display: none;
  height: 100vh;
  width: 300px;
  background-color: rgb(123, 201, 232);
  position: fixed;
  left: 0;
  top: 0;
}

nav .user-dp {
  background-color: black;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

nav .user-dp img {
  height: 40px;
  width: 40px;
}

nav {
  position: sticky;
  top: 0;
  z-index: 5;
}

nav .menu-links {
  margin-top: 70px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

nav .menu-link-item a {
  text-decoration: none;
  color: white;
}

nav .navbar-button-group {
  position: absolute;
  top: 15px;
  right: 30px;
  display: flex;
  gap: 15px;
}

nav .navbar-button-group .navbar-button {
  height: 30px;
  width: 70px;
  border-radius: 3px;
  cursor: pointer;
}

nav .login-button {
  border: 1px solid white;
  background-color: rgb(123, 201, 232);
  color: white;
}

nav .signup-button {
  border: 0;
  color: #000000;
  border: 1px solid rgb(0, 0, 0);
}

nav hr {
  width: 100%;
  margin: 0;
  border: 1px solid #3c3c3c;
}

nav .user-menu {
  position: fixed;
  right: 30px;
  min-width: 150px;
  border-radius: 5px;
  top: 53px;
  display: none;
  flex-direction: column;
  justify-content: center;
  /* gap: 15px; */
  background-color: rgb(249, 249, 249);
  padding: 10px 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* nav .user-menu hr {
  border: 0;
  height: 1px;
  background: #c7c7c7;
  background-image: linear-gradient(to right, #ccc, #b6b6b6, #ccc);
} */

nav.user-menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav .user-menu-item a {
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
  min-height: 50px;
  border-radius: 3px;
}

nav .user-menu-item a:hover {
  background-color: rgb(228, 228, 228);
}

nav .user-menu-item a:active {
  background-color: rgb(208, 208, 208);
}

nav #referral-redirect {
  background-color: orange;
  color: white;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  width: 200px;
  text-align: center;
  font-size: 14px;
}

nav #referral-redirect:hover {
  background-color: rgb(240, 156, 0);
}

nav #referral-redirect:active {
  background-color: rgb(225, 146, 0);
}

nav .pulseBtn {
  /* border: 1px solid #bb750b; */
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-size: 1rem;
  box-shadow: 0 0 0 0 rgba(252, 160, 54, 0.605);
  -moz-animation: pulse 2s infinite;
  -webkit-animation: pulse 2s infinite;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(252, 160, 54, 0.726);
  }
  70% {
    box-shadow: 0 0 0 5px rgba(206, 116, 6, 0.16);
  }
  100% {
    box-shadow: 0 0 0 15px rgba(88, 120, 243, 0);
  }
}
