<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Home</title>
    <link rel="stylesheet" href="admin/admin-navbar.css" />
    <link rel="stylesheet" href="admin/home/admin-home.css" />
    <%- include('../../partials/font-links.ejs') %>
  </head>
  <body>
    <%- include('../../partials/admin-navbar.ejs') %>
    <script src="js/cust-navbar.js"></script>
  </body>
</html>
